Flask
flask-cors
python-dotenv
langchain
langchain-core
langchain-text-splitters
langchain-groq
langchain-community
langchain-chroma
chromadb
fastembed
pypdf
werkzeug
flask-sqlalchemy
flask-jwt-extended
google-genai
biopython
fpdf2
feedparser
gunicorn
