Flask
flask-cors
python-dotenv
langchain
langchain-groq
langchain-huggingface
langchain-community
langchain-chroma
chromadb
sentence-transformers
pypdf
werkzeug
flask-sqlalchemy
flask-jwt-extended
google-genai
biopython
fpdf2
feedparser
gunicorn
